---
layout: default
title: "New Memberships"
---



{% include page-header.html %}

{% if site.accepting_new_members == false %}
<div class="alert alert-warning" role="alert">
  <span class="fe fe-info mr-3"></span><strong>Membership is currently at capacity.</strong> Unfortunately we are not currently accepting applications from new members. Please check back later.
</div>

{% else %}

<div class="alert alert-info" role="alert">
  <span class="fe fe-info mr-3"></span>Please read the following carefully before submitting an enquiry for new membership.
</div>

<p>We are currently open to new members. Submitting this form starts your enquiry. If appropriate, you'll be invited to book a short phone call with the Club Secretary. Following that, suitable candidates will be offered an in-person meeting at the club. If successful, you’ll be invited to formally apply for a probationary membership.</p>

<p>All probationary memberships include a structured training programme and must, by law, last a minimum of three months. Full details will be explained at the interview stage.</p>

<p>If you need to contact us for another matter, <a href="/contact-us">please contact us via this page.</a></p>

<div class="card">
  <div class="card-body">
    <div class="alert alert-danger" role="alert">
      <span class="fe fe-alert-triangle mr-3"></span>Sorry, but we're currently experiencing some technical issues with our membership enquiry form provider. Please try again later.
    </div>
  </div>
</div>

{% endif %}