<footer class="footer navbar-fixed-bottom pt-4 pb-5 pt-md-5 border-top bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/assets/img/logo.png" alt="" width="50">
        <small class="d-block mb-3 text-muted">&copy; 1977 - {{ "today" | date: "%Y" }}</small>
      </div>
      {% for item in site.data.footer-links.footer-links %}
        <div class="col-6 col-md">
          <h5 class="text-white">{{ item.title }}</h5>
          <ul class="list-unstyled text-small">
            {% for entry in item.subfolderitems %}
              <li><a class="text-muted" target="{% if entry.target == "blank" %}blank{% endif %}" href="{{ entry.url }}">{{ entry.page }}{% if entry.target == "blank" %}<i class="fe fe-external-link ml-2"></i>{% endif %}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

  </div>
  <!-- JAVASCRIPT
  ================================================== -->
  <!-- Libs JS -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>

  <!-- Theme JS -->
  <script src="/assets/js/theme.min.js"></script>

      </footer>
