<!-- NAVIGATION
================================================== -->

<nav class="navbar navbar-expand-lg navbar-light" id="topnav">
    <div class="container">

      <!-- Toggler -->
      <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Brand -->
      <a class="navbar-brand mr-auto" href="/">
        <img src="/assets/img/logo.png" alt="..." class="navbar-brand-img">
      </a>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbar">
        <!-- Navigation -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link {% if page.url == "/" %} active {% endif %}" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == "/about-us.html" %} active {% endif %}" href="/about-us.html">About The Club</a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if page.url contains "disciplines" %} active{% endif %}" href="#" id="topnavPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Disciplines
            </a>
            <ul class="dropdown-menu" aria-labelledby="topnavPages">
              <li>
                <a class="dropdown-item {% if page.url == "/disciplines/practical-rifle.html" %} active{% endif %}" href="/disciplines/practical-rifle.html">
                  Practical Rifle
                </a>
              </li>
              <li>
                <a class="dropdown-item {% if page.url == "/disciplines/practical-shotgun.html" %} active{% endif %}" href="/disciplines/practical-shotgun.html">
                  Practical Shotgun
                </a>
              </li>
              <li>
                <a class="dropdown-item {% if page.url == "/disciplines/gallery-rifle/" %} active{% endif %}" href="/disciplines/gallery-rifle">
                  Gallery Rifle
                </a>
              </li>
              <li>
                <a class="dropdown-item {% if page.url == "/disciplines/full-bore/" %} active{% endif %}" href="/disciplines/full-bore">
                  Full Bore
                </a>
              </li>
            </ul>
          </li>
          -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if page.url contains "membership" %} active{% endif %}" href="#" id="topnavDashboards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Membership
            </a>
            <ul class="dropdown-menu" aria-labelledby="topnavDashboards">
              <li>
                <a class="dropdown-item {% if page.url == "/membership/membership-info.html" %} active{% endif %}" href="/membership/membership-info.html">
                  Membership Info
                </a>
              </li>
              <li>
                <a class="dropdown-item {% if page.url == "/membership/learn-to-shoot.html" %} active{% endif %}" href="/membership/learn-to-shoot.html">
                  Learn to Shoot with us
                </a>
              </li>
              <li>
                <a class="dropdown-item {% if page.url == "/membership/young-members.html" %} active{% endif %}" href="/membership/young-members.html">
                  Young Members
                </a>
              </li>
              <!--<li>
                <a class="dropdown-item {% if page.url == "/membership/air-gun/" %} active{% endif %}" href="/membership/air-gun">
                  Air Gun
                </a>
              </li>-->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == "/gallery.html" %} active {% endif %}" href="/gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.url == "/contact-us.html" %} active {% endif %}" href="/contact-us.html">Contact Us</a>
          </li>


        </ul>


      </div>
      <div class="navbar-user">
        <a href="/member-login.html" class="btn btn-white ml-3"><span class="fe fe-log-in mr-3"></span>Login</a>
      </div>

    </div> <!-- / .container -->
  </nav>
